In [2]:
# imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df = pd.read_excel("currentexpense2324.xlsx")
df.head()

,CO,CDS,District,EDP 365,Current\nExpense ADA,Current\nExpense per ADA,LEA Type
0,1,61119,Alameda Unified,1.550948e+08,8567.86,18101.93,Unified
1,1,61127,Albany City Unified,6.149090e+07,3435.41,17899.14,Unified
2,1,61143,Berkeley Unified,2.205508e+08,8572.17,25728.70,Unified
3,1,61150,Castro Valley Unified,1.424913e+08,8991.52,15847.30,Unified
4,1,61168,Emery Unified,1.586300e+07,554.70,28597.44,Unified